langchain==0.3.26
langchain_community==0.3.27
langchain_core==0.3.68
langchain_openai==0.3.27
langgraph==0.5.1
matplotlib==3.10.3
neo4j==5.28.1
networkx==3.4.2
numpy==1.26.4
openai==1.93.2
pandas==2.3.1
PyGCL==0.1.2
dgl==2.1.0
pyvis==0.3.2
scanpy==1.11.3
scikit_learn==1.7.0
scipy==1.15.3
setuptools==75.8.0
torch==2.1.0
torchdata==0.7.0
torch_geometric==2.6.1
tqdm==4.67.1
typing_extensions==4.14.1
